{{#if myMeme}}

<ul class="img-wrapper">
    {{#each myMeme}}
    <a href="meme/{{img}}"><div style="background:url('images/memes/{{img}}')" class="meme-wrapper">
       
    </div></a>

    {{/each}}
</ul>






{{/if}}

