{{#if myPath}}

<ul class="img-wrapper">
    {{#each myPath}}
    <img data-img={{myPath}} onclick="openModal(event)" src={{myPath}} width="300px" height="300px">
    {{/each}}
</ul>

<div class="overlay" id="overlay">

</div>

<div class="myModal" id="myModal">
    <div class="icon-wrapper">
        <i onclick="closeModal()" class="fas fa-window-close"></i>
    </div>

    <div class="modal-img-wrapper" id="modal-img-wrapper">

    </div>
    <form type="submit">
    <div class="form-group">
        <label for="formGroupExampleInput">Top Content</label>
        <input id="top" type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Bot Content</label>
        <input id="bottom" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
    <button onclick="createMeme(event)" type="submit" class="btn btn-primary">Create Meme</button>
    </form>
</div>


{{/if}}




<script>

    let memeImg = ""

    function openModal(e) {
       
        document.getElementById("myModal").style = "display:block"
        console.log(e.target.attributes["data-img"].nodeValue)
        memeImg = e.target.attributes["data-img"].nodeValue
        document.getElementById("modal-img-wrapper").innerHTML = `
        <img src=${e.target.attributes["data-img"].nodeValue}>
        `

        document.getElementById("overlay").style = "display:block"
    }

    function closeModal() {
        document.getElementById("myModal").style = "display:none"
        document.getElementById("overlay").style = "display:none"
    }

    async function createMeme(e) {
         e.preventDefault();
        console.log("Submit roi")
        if(document.getElementById("top").value=="" || document.getElementById("bottom").value=="")
        {
            alert("You need to write something!!!")
            return;
        }

        let imgId=memeImg.split("/")[3]
      
      


        const meme = { top: document.getElementById("top").value, bottom: document.getElementById("bottom").value, img: imgId};
        const url = `/original/addText/${imgId}`;
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(meme)
            });
            let data = await response.json()
            console.log(data)
            
        }
        catch (err) {
            console.log(err)
        }

    }
</script>