{{#if imgPath}}
<div class="single-img">
    <div class="single-img-content">
        <span id="single-top-content">{{top}}</span>
        <img src={{imgPath}} alt={{imgPath}}>
        <span id="single-bottom-content">{{bottom}}</span>
    </div>

</div>
{{/if}}