<div class="content-wrapper">
<form action="/upload" method="post" enctype="multipart/form-data">
 <i style="font-size: 25px;" class="fas fa-upload"></i>
  <input
    type="file"
    name="fileupload"
    accept="image/jpg, image/gif, image/png"
    id="fileUpload"
  />
  <input type="submit" value="Upload Image" name="submit" />
</form>
</div>


